*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
a {
  text-decoration: none;
  color: inherit;
}

/* general */

body {
  font-family: "tex_gyre_heros";
  font-feature-settings: "liga" 1;
  font-size: 2rem;
  color: #333;
  max-width: 60vw;
  min-width: 1280px;
  margin: 0 auto;
  user-select: none;
}
.grid {
  display: grid;
}
.grid-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-2 {
  grid-template-columns: 1fr 1fr;
}
.smcp {
  -webkit-font-feature-settings: "smcp" 1;
  -moz-font-feature-settings: "smcp" 1;
  -ms-font-feature-settings: "smcp" 1;
  font-feature-settings: "smcp" 1;
  letter-spacing: 2px;
}
.smcp span {
  font-size: 1.3rem;
}
.translate-0--10 {
  /* if the link start with lower caps or small caps it's better to translate it in 10% to center it */
  transform: translate(0, -10%);
}
.anchor {
  position: absolute;
  transform: translateY(-10vh);
}
.heart-cursor {
  cursor: url("data:image/svg+xml,%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools --%3E%3Csvg fill='%23ff0000' width='22px' height='22px' viewBox='0 0 1920 1920' xmlns='http://www.w3.org/2000/svg' stroke='%23ff0000'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'/%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M1771.731 291.037C1675.709 193.659 1547.944 140 1411.818 140h-.113c-136.125 0-263.777 53.66-359.573 150.924-37.618 38.07-68.571 80.997-92.294 127.426-23.61-46.429-54.563-89.356-92.068-127.313C771.86 193.659 644.208 140 507.97 140h-.113c-136.012 0-263.777 53.66-359.8 151.037-197.691 200.629-197.691 527.103 1.695 729.088l810.086 760.154 811.893-761.736c197.692-200.403 197.692-526.877 0-727.506' fill-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E"),
    pointer;
}
/* main title */
.title {
  border: 0.7rem solid #333;
  border-left: 0;
  border-right: 0;
  font-size: 5rem;
  font-weight: bold;
  gap: 2rem;
  padding: 1rem 0;
  padding-bottom: 2rem;
  margin-top: 5rem;
}
.title-open {
  grid-column-start: 1;
}
.title-trans {
  grid-column-start: 3;
  justify-self: end;
}
.title-science {
  grid-column-start: 2;
  justify-self: center;
}
/* banner */
.banner {
  grid-template-columns: 14rem 1fr 1fr;
}

.banner-title {
  border-left: 0.7rem solid #333;
  font-size: 3rem;
  padding-bottom: 2rem;
  font-weight: bold;
  grid-column-start: 1;
  grid-row-start: 3;
  text-align: center;
}
.banner-title span {
  font-size: 7.5rem;
}
.banner-border {
  grid-column-start: 1;
  grid-row-start: 4;
  grid-row-end: 8;
  border-top: 0.7rem solid #333;
  border-right: 0.7rem solid #333;
}
.banner-0,
.banner-1,
.banner-2,
.banner-3 {
  padding-left: 2rem;
}
.banner-0 {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 4;
}
.banner-1 {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 5;
}
.banner-2 {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 6;
}
.banner-3 {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 7;
  padding-bottom: 1rem;
  border-bottom: 0.7rem solid #333;
}

/* links */
.links {
  grid-template-columns: 14rem 1fr 1fr;
  color: #fff;
}
.link-border {
  grid-column-start: 1;
  grid-row-start: -1;
  grid-row-end: 4;
  border-right: 0.7rem solid #333;
}
.links h2 {
  font-size: 4rem;
  font-weight: bold;
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 1;
  text-align: end;
  padding: 2rem 3rem 5rem 2rem;
  background-color: #333;
}
.links-list {
  background-color: #333;
  grid-column-start: 2;
  grid-column-end: -1;
  padding: 0rem 2rem;
  text-wrap: nowrap;
}
.section-links-list {
  grid-template-columns: 2rem 1fr;
  gap: 1rem;
  align-items: center;
  position: relative;
  padding-bottom: 5rem;
}
.section-links-list:last-child {
  padding-bottom: 2rem;
}

.mtf-links-list::before {
  content: "mtf";
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -0.4rem;
  text-align: end;
  color: #fff;
  -webkit-font-feature-settings: "smcp" 1;
  -moz-font-feature-settings: "smcp" 1;
  -ms-font-feature-settings: "smcp" 1;
  font-feature-settings: "smcp" 1;
  padding-top: 1rem;
  padding-right: 0.5rem;
  display: block;
  position: absolute;
  border-top: 0.7rem solid #fff;
  top: -3rem;
  right: 1rem;
  width: 120%;
}

.ftm-links-list::before {
  content: "ftm";
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -0.4rem;
  text-align: end;
  color: #fff;
  -webkit-font-feature-settings: "smcp" 1;
  -moz-font-feature-settings: "smcp" 1;
  -ms-font-feature-settings: "smcp" 1;
  font-feature-settings: "smcp" 1;
  padding-top: 1rem;
  padding-right: 0.5rem;
  display: block;
  position: absolute;
  border-top: 0.7rem solid #fff;
  top: -3rem;
  right: 1rem;
  width: 120%;
}
.etc-links-list::before {
  content: "";
  display: block;
  position: absolute;
  border-top: 0.7rem solid #fff;
  top: -3rem;
  right: 1rem;
  width: 120%;
}

.circle {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}
.circle::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 0.2rem;
  height: 100%;
  background-color: #333;
}
/* footer */

footer {
  padding: 1rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-top: 5rem;
  border-top: 0.7rem solid #333;
}

footer a {
  font-size: 1.2rem;
}

.license-icons {
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
}

.license-icons img {
  width: 1rem;
}

/* about section */

.about-what,
.about-who,
.about-why {
  display: none;
  position: relative;
  border-bottom: 0.7rem solid #333;
  height: 20rem;
  padding: 2rem 13rem;
}
.about-what {
  background: url("/docs/imgs/layered-steps-haikei.svg") no-repeat bottom right;
  background-size: cover;
  border-right: 0.7rem solid #333;
}
.about-why {
  border-left: 0.7rem solid #333;
}
.about-who {
  background: url("/docs/imgs/layered-steps-haikei.svg") no-repeat bottom left;
  background-size: cover;
  border-right: 0.7rem solid #333;
}
.about-what h2,
.about-who h2 {
  transform: rotate(90deg);
  position: absolute;
  font-size: 6rem;
  font-weight: bold;
  left: -5rem;
  top: 4rem;
}

/* queries */
@media (max-width: 1279px) {
  main,
  section,
  footer {
    display: none;
  }
  body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    min-width: fit-content;
    max-width: initial;
  }
  body::after {
    display: block;
    position: absolute;
    content: "Use a computer";
    font-size: 5vw;
    font-weight: bold;
    padding: 1rem 0rem;
    border-top: 0.7rem solid #333;
    border-bottom: 0.7rem solid #333;
    color: #333;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto 0;
  }
}
